.ba-section-services {
	height: 799px;
	background: $secondary-color;
}
.ba-design {
	background: $dark-gray;
	color: $primary-color;
}
.ba-web {
	background: $secondary-color;
	color: $primary-color;
}
.ba-seo {
	background: $secondary-color;
	color: $primary-color;
}
.ba-mobile {
	background: $dark-gray;
	color: $primary-color;
}
.ba-services {
	background: url(../img/Rectangle_2.jpeg);
	color: #FFF;
}
.column {
	text-align: center;
}
