<section class="ba-section-about">
	<!-- BEGIN row  -->
	<div class="row">
	    <!-- BEGIN column small-12 medium-7  -->
	    <div class="column small-12 large-5">
	     <img class="img-about" src="assets/img/DeathtoStock_Wired8.jpeg" alt="About us">
	    </div>
	    <!-- END column small-12 medium-7 -->
	    <!-- BEGIN   -->
	    <div class="column small-12 large-7 flex-container">
	    	<!-- BEGIN text-about  -->
	    	<div class="text-about">
	    	    <p>Nullam quis risus eget urna mollis ornare vel eu leo. Donec id elit non mi porta gravida at eget metus. Donec ullamcorper nulla non metus auctor fringilla. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>

	    	    <p><b>Morbi leo risus,</b> porta ac consectetur ac, vestibulum at eros. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas faucibus mollis interdum. Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.</p>
	    	</div>

	    	<a>Learn More</a>
	    	<!-- END text-about -->
	    </div>
	    <!-- END  -->

	</div>
	<!-- END row -->
</section>
